<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MDK-Debug Space Engineers Plugin" Language="1033" Version="1.0.0.0" Manufacturer="Mal" UpgradeCode="bfa46f44-3678-48c7-b0b1-36b49048154b">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of MDK-Debug is already installed." />

    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

    <Property Id="STEAMPATH">
      <RegistrySearch Id="Steam"
                      Root="HKCU"
                      Key="Software\Valve\Steam"
                      Name="SteamExe"
                      Type="file">
        <FileSearch Id="SteamExe" Name="Steam.exe" />
      </RegistrySearch>
    </Property>

    <!--<Condition Message="The installer cannot find Steam.">
      <![CDATA[Installed OR STEAMPATH]]>
    </Condition>-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="Mal" Name="Mal">
          <Directory Id="INSTALLFOLDER" Name="MDK-Debug">

            <Component Id="PluginComponent" Guid="6FB1976C-CAA5-4156-831B-8939A4A0F4C3" Win64="yes">
              <File Id="PluginBinary" Name="MDK-Debug.dll" DiskId="1"
                    Source="..\MDK-Debug\bin\x64\Release\net461\MDK-Debug.dll" KeyPath="yes" />
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Foobar 1.0">
          <Component Id="ProgramMenuDir" Guid="FB326D74-6D0A-44D8-B576-DA82DE99EA8F">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Mal\MDK-Debug" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf" Value="mit-license.rtf" />

    <Feature Id="Complete" Title="MDK-Debug" Description="A plugin to directly load MDK-flavored script assemblies into Space Engineers to facilitate easier debugging."
             Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="MainProgram" Title="Plugin" Description="The plugin assembly." Level="1">
        <ComponentRef Id="PluginComponent" />
        <ComponentRef Id="ProgramMenuDir" />
      </Feature>
    </Feature>
  </Product>
</Wix>